{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>{{ restaurant.name }}
			</h1>

		</div>
	</div>

<div class = 'flash'>
		      {% with messages = get_flashed_messages() %}
      {% if messages %}
          
        <ul>
        {% for message in messages %}
            <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
        </ul>
        {% endif %}
    {% endwith %}

</div>
	<div class="row padding-top padding-bottom">
		<div class="col-md-1"></div>
		<div class="col-md-11 padding-none">
			<a href="{{url_for('brandedit', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					Edit item
				</button>
			</a>
			<a href="{{url_for('itemnew', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default" id="new-menu-item">
					Add item
				</button>
			</a>
						<a href="{{url_for('branddel', restaurant_id = restaurant.id )}}">
				<button class="btn btn-default delete" id="delete-restaurant">
					Delete item
				</button>
			</a>
		</div>
		<div class="col-md-7"></div>
	</div>
	
	{% if items !=[] %}	
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Traditional</h2>
					{% for i in items %}
						{% if i.course == 'Appetizer' %}
							<div class="menu-item">
								<h3>{{i.name}}</h3>
								<p>{{i.description}}</p>
								<p class="menu-price">{{i.price}}</p>
								<a href='{{url_for('itemeditm', restaurant_id = restaurant.id, menu_id=i.id ) }}'><u><i>Edit</i></u></a> | 
								<a href='{{url_for('itemdelete', restaurant_id = restaurant.id, menu_id=i.id ) }}'><u><i>Delete</i></u></a>
							</div>
						{% endif %}
					{% endfor %}
			</div>
			<div class="col-md-4">			
				<h2>Western</h2>
					{% for i in items %}
						{% if i.course == 'Entree' %}
						<div class="menu-item">
							<h3>{{i.name}}</h3>
							<p>{{i.description}}</p>
							<p class="menu-price">{{i.price}}</p>
							<a href='{{url_for('itemeditm', restaurant_id = restaurant.id, menu_id=i.id ) }}'><u><i>Edit</i></u></a> | 
							<a href='{{url_for('itemdelete', restaurant_id = restaurant.id, menu_id=i.id ) }}'><u><i>Delete</i></u></a>
						</div>
						{% endif %}
					{% endfor %}
			</div>
		
			<div class="col-md-1"></div>
		</div>
	{% endif %}
{% endblock %}
